@media only screen and (min-width: 600px) {
    .registerContainer {
        max-width: 900px !important;
    }
}


@media only screen and (min-width: 600px) {
    .container .table-responsive {
        padding: 20px;
        margin-left:-50px;
    }
    .table-responsive table {
        width: 100%;
        max-width: 100%;

    }
    table.dataTable{
        padding: 40px;
        margin-left:-50px;
    }
    .addUser{
        float: right;
    }

}

/* Register page css and login page */

.container{
    border:2px solid black;
    outline : none;
    border-radius:5px;
    padding:5px;
}
span{
    color:red;
    font-weight:500;
}

.container h2{
    margin:20px;
}
.addUsers{
    float:right;
}
.addUserDashboard{
    float: right;
    margin-top:10px;
    margin-bottom:30px;
}

.addLogoutDashboard{
    float: right;
    margin-top:10px;
    margin-right:-182px;
}

li{
    color:red;
}

.centerGender{
    margin-top:30px;
}
.bottomButton{
    margin-top:30px;
}
.previewImages{
    display: none;
    margin-top:10px;
}
.UpdatepreviewImage{
    margin-top:10px;
}
.textColorAjax{
    color:red;
    font-weight:500;
}

/* dashboard css */

.dashboardContainer {

    border:none;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive table {
    width: 100%;
    max-width: 100%;

}
 table.dataTable{
        padding: 0px;
        margin-left:0px;
}

/* ChangePassword css */

.changePassword{
    margin-top:40px;
}
.backButton{
    float:right;
}

.password-container{
    width: 400px;
    position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  .fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }
  .togglePassword{
    float: right;
    margin-top: -25px;
    margin-right: 13px;
}


/* app.blade.php */
.textLeft{
    margin-left:40px;
}
.addLogout{
    float: right;
     margin-top:-52px;
     margin-right:16px;
}
.mainHeading{
    padding:10px;
}
